.option {
  background: '#fff';
  cursor: pointer;
  padding: 7px 10px;
  box-sizing: border-box;
  line-height: 1.25;
  z-index: 2;
}
.checkbox {
  background: '#fff';
  cursor: pointer;
  padding: 0px 10px;
  z-index: 2;
}
