.wrapper {
  .custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .input {
    display: flex;
    position: relative;
    box-sizing: border-box;
    border-radius: 3px;
    input:focus {
      outline: 0;
    }
    &:focus {
      outline: 0;
    }
  }
  .disabled {
    cursor: default;
    .base.fake {
      cursor: default;
    }
  }
  .open {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    cursor: pointer;
    font-size: 13px;
    outline: none;
    &:hover [data-role='tooltip'] {
      display: block;
    }
  }
  .base {
    display: flex;
    flex-grow: 1;
    border: none;
    padding: 0px 5px;
    margin: 0px;
    max-width: 100%;
    border-radius: 3px;
    background: transparent;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    &:focus {
      outline: 0;
    }
    p {
      margin: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: nowrap;
    }
  }
}
.inputForm {
  background: #dde6ff;
  box-sizing: border-box;
  min-height: 35px;
  padding: 1px 0px 2px 0px;
}
.inputLabel {
  padding: 0px 5px 0px 5px;
}
