.menu {
  display: flex;
  max-width: 300px;
  min-width: 300px;
  flex-grow: 1;
  margin-top: -1px;
  box-sizing: border-box;
  background: #fff;
}
.options {
  display: flex;
  flex-direction: column;
  // background: #fff;
  padding: 5px 10px;
  a {
    color: #212529;
    font-weight: 500;
    padding: 7px 10px;
    font-size: 13px;
    flex-grow: 1;
  }
  a:hover {
    color: #91a7ff;
  }
}
