.tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    opacity: 0.75;
    width: 100%;
    margin: 0px;
    padding: 10px 0px;
    font-size: 13px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-weight: 500;
    text-transform: uppercase;
  }
  .active {
    opacity: 1;
  }
}
