.page {
  padding: 10px 5px;
}
.header {
  margin: 5px 10px;
  h2 {
    margin: 0px;
  }
}
.wrapper {
  display: flex;
  flex-grow: 1;
  margin: 20px;
}
.block {
  margin: 10px;
  margin-bottom: 0px;
  p {
    font-size: 14px;
    margin: 10px 0px;
    line-height: 1.5;
  }
}
