.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  .accordion {
    width: 100%;
    cursor: pointer;
  }
  .summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    margin-bottom: -1px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    &:hover [data-role='tooltip'] {
      display: block;
    }
    .spacer {
      flex-grow: 1;
    }
    p {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      font-family: inherit;
      margin: 0px;
    }
  }
}
