.page {
  padding: 10px 5px;
}
.header {
  margin: 5px 10px;
  h2 {
    margin: 0px;
  }
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin: 20px;
}

.wizard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  flex-grow: 1;
  font-weight: 500;
  font-size: 15px;
}
