.button {
  display: flex;
  align-items: center;
  align-items: stretch;
  position: relative;
  padding: 0px;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0px;
  cursor: pointer;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  &:hover [data-role='tooltip'] {
    display: block;
  }
  > span {
    padding: 8px 12px;
    flex-grow: 1;
    color: inherit;
    width: max-content;
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    font-size: 13px;
    color: inherit;
    outline: none;
    &:hover {
      opacity: 0.8;
    }
  }
}
.button.small {
  > span {
    padding: 6px 10px;
  }
  .icon {
    width: 26px;
  }
}
.button.medium {
  > span {
    padding: 8px 12px;
  }
  .icon {
    width: 28px;
  }
}
.button.large {
  > span {
    padding: 10px 14px;
  }
  .icon {
    width: 28px;
  }
}
button:focus,
button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12),
    inset 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  outline: 0;
}
